### Wind Turbine Data - Nikita EDA

In [2]:
import pandas as pd

In [3]:
wind_data = pd.read_csv('data/wind_turbine_20220114.csv', encoding='latin')

In [4]:
wind_data.head()

,case_id,faa_ors,faa_asn,usgs_pr_id,eia_id,t_state,t_county,t_fips,p_name,p_year,...,t_rsa,t_ttlh,retrofit,retrofit_year,t_conf_atr,t_conf_loc,t_img_date,t_img_srce,xlong,ylat
0,3072661,NaN,NaN,5149.0,52161.0,CA,Kern County,6029,251 Wind,1987.0,...,NaN,NaN,0,NaN,2,3,5/8/2018,Digital Globe,-118.363762,35.077908
1,3072695,NaN,NaN,5143.0,52161.0,CA,Kern County,6029,251 Wind,1987.0,...,NaN,NaN,0,NaN,2,3,5/8/2018,Digital Globe,-118.364410,35.077435
2,3072704,NaN,NaN,5146.0,52161.0,CA,Kern County,6029,251 Wind,1987.0,...,NaN,NaN,0,NaN,2,3,5/8/2018,Digital Globe,-118.364197,35.077644
3,3063272,19-028134,2014-WTE-4084-OE,NaN,NaN,IA,Story County,19169,30 MW Iowa DG Portfolio,2017.0,...,12271.85,150.0,0,NaN,3,3,4/24/2017,Digital Globe,-93.430367,42.028233
4,3053390,19-028015,2015-WTE-6386-OE,NaN,NaN,IA,Boone County,19015,30 MW Iowa DG Portfolio,2017.0,...,12271.85,150.0,0,NaN,3,3,6/1/2017,Digital Globe,-93.700424,41.977608

In [5]:
wind_data.shape

(70808, 27)

In [6]:
wind_data.isnull().sum().sort_values(ascending = False)

retrofit_year    64822
usgs_pr_id       32545
t_img_date        8316
t_ttlh            6180
t_hh              6180
t_rsa             5934
t_rd              5934
eia_id            5793
faa_ors           5792
t_model           5777
t_manu            5640
t_cap             5480
faa_asn           5122
p_cap             4482
p_year             613
t_conf_atr           0
t_conf_loc           0
t_img_srce           0
xlong                0
case_id              0
retrofit             0
p_tnum               0
p_name               0
t_fips               0
t_county             0
t_state              0
ylat                 0
dtype: int64

In [7]:
wind_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70808 entries, 0 to 70807
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   case_id        70808 non-null  int64
 1   faa_ors        65016 non-null  object
 2   faa_asn        65686 non-null  object
 3   usgs_pr_id     38263 non-null  float64
 4   eia_id         65015 non-null  float64
 5   t_state        70808 non-null  object
 6   t_county       70808 non-null  object
 7   t_fips         70808 non-null  int64
 8   p_name         70808 non-null  object
 9   p_year         70195 non-null  float64
 10  p_tnum         70808 non-null  int64
 11  p_cap          66326 non-null  float64
 12  t_manu         65168 non-null  object
 13  t_model        65031 non-null  object
 14  t_cap          65328 non-null  float64
 15  t_hh           64628 non-null  float64
 16  t_rd           64874 non-null  float64
 17  t_rsa          64874 non-null  float64
 18  t_ttlh         64628 non-null  float64
 19  retrofit       70808 non-null  int64
 20  retrofit_year  5986 non-null   float64
 21  t_conf_atr     70808 non-null  int64
 22  t_conf_loc     70808 non-null  int64
 23  t_img_date     62492 non-null  object
 24  t_img_srce     70808 non-null  object
 25  xlong          70808 non-null  float64
 26  ylat           70808 non-null  float64
dtypes: float64(12), int64(6), object(9)
memory usage: 14.6+ MB

## **Inital thoughts for dtypes**

look through each column and to review data types. understand and thinking of clearer rename option for each. 

initally p_year & retrofit_year (& t_img_date if we fill it is needed) would need to be changed into datetime dtype

change the 'ids' into int and not floats. usgs_pr_id, eia_id

In [8]:
#check for duplicates across in rowxcolumn - shows on duplicates?
wind_data.duplicated(keep=False).sum()

0

In [9]:
# double check there are no duplicates 
wind_data.case_id.value_counts()

case_id
3072661    1
3038612    1
3038549    1
3039257    1
3038629    1
          ..
3057634    1
3057637    1
3057633    1
3057314    1
3055917    1
Name: count, Length: 70808, dtype: int64

In [10]:
wind_data.describe()

,case_id,usgs_pr_id,eia_id,t_fips,p_year,p_tnum,p_cap,t_cap,t_hh,t_rd,t_rsa,t_ttlh,retrofit,retrofit_year,t_conf_atr,t_conf_loc,xlong,ylat
count,7.080800e+04,38263.000000,65015.000000,70808.000000,70195.000000,70808.000000,66326.000000,65328.000000,64628.000000,64874.000000,64874.000000,64628.000000,70808.000000,5986.000000,70808.000000,70808.000000,70808.000000,70808.000000
mean,3.058490e+06,27523.587225,57877.751642,32244.494097,2011.650659,104.360552,170.176128,1963.534151,81.054571,95.663717,7618.500657,129.050593,0.084538,2018.640327,2.766509,2.883784,-100.086457,38.479503
std,3.242377e+04,13564.446593,5984.516487,15498.246596,7.879099,93.954786,104.478693,717.067912,12.028726,23.424346,3309.229282,22.185981,0.278196,1.112294,0.597195,0.462326,11.141025,5.429730
min,3.000001e+06,1.000000,90.000000,2013.000000,1981.000000,1.000000,0.050000,50.000000,19.000000,13.400000,141.030000,30.400000,0.000000,2015.000000,1.000000,1.000000,-171.713074,13.389381
25%,3.032230e+06,18625.500000,56763.000000,19081.000000,2008.000000,56.000000,99.000000,1500.000000,80.000000,82.000000,5281.020000,121.000000,0.000000,2018.000000,3.000000,3.000000,-103.037155,34.428043
50%,3.050978e+06,28598.000000,57752.000000,35057.000000,2012.000000,85.000000,158.000000,2000.000000,80.000000,100.000000,7853.980000,130.100000,0.000000,2019.000000,3.000000,3.000000,-99.393761,39.052442
75%,3.090448e+06,38719.500000,60338.000000,48141.000000,2018.000000,121.000000,211.220000,2300.000000,87.000000,110.000000,9503.320000,145.100000,0.000000,2020.000000,3.000000,3.000000,-95.202499,42.812810
max,3.118671e+06,49135.000000,65270.000000,72133.000000,2021.000000,731.000000,525.020000,6000.000000,131.000000,155.000000,18869.190000,199.600000,1.000000,2020.000000,3.000000,3.000000,144.722656,66.839905

In [11]:
#Tx seems to have the largest amount of projects
wind_data.describe(include = 'all')

,case_id,faa_ors,faa_asn,usgs_pr_id,eia_id,t_state,t_county,t_fips,p_name,p_year,...,t_rsa,t_ttlh,retrofit,retrofit_year,t_conf_atr,t_conf_loc,t_img_date,t_img_srce,xlong,ylat
count,7.080800e+04,65016,65686,38263.000000,65015.000000,70808,70808,70808.000000,70808,70195.000000,...,64874.000000,64628.000000,70808.000000,5986.000000,70808.000000,70808.000000,62492,70808,70808.000000,70808.000000
unique,NaN,64999,65275,NaN,NaN,46,564,NaN,1708,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1200,4,NaN,NaN
top,NaN,19-001673,2000-ASW-6683-OE,NaN,NaN,TX,Kern County,NaN,unknown Tehachapi Wind Resource Area 1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1/1/2012,Digital Globe,NaN,NaN
freq,NaN,2,62,NaN,NaN,17439,3499,NaN,713,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4056,54925,NaN,NaN
mean,3.058490e+06,NaN,NaN,27523.587225,57877.751642,NaN,NaN,32244.494097,NaN,2011.650659,...,7618.500657,129.050593,0.084538,2018.640327,2.766509,2.883784,NaN,NaN,-100.086457,38.479503
std,3.242377e+04,NaN,NaN,13564.446593,5984.516487,NaN,NaN,15498.246596,NaN,7.879099,...,3309.229282,22.185981,0.278196,1.112294,0.597195,0.462326,NaN,NaN,11.141025,5.429730
min,3.000001e+06,NaN,NaN,1.000000,90.000000,NaN,NaN,2013.000000,NaN,1981.000000,...,141.030000,30.400000,0.000000,2015.000000,1.000000,1.000000,NaN,NaN,-171.713074,13.389381
25%,3.032230e+06,NaN,NaN,18625.500000,56763.000000,NaN,NaN,19081.000000,NaN,2008.000000,...,5281.020000,121.000000,0.000000,2018.000000,3.000000,3.000000,NaN,NaN,-103.037155,34.428043
50%,3.050978e+06,NaN,NaN,28598.000000,57752.000000,NaN,NaN,35057.000000,NaN,2012.000000,...,7853.980000,130.100000,0.000000,2019.000000,3.000000,3.000000,NaN,NaN,-99.393761,39.052442
75%,3.090448e+06,NaN,NaN,38719.500000,60338.000000,NaN,NaN,48141.000000,NaN,2018.000000,...,9503.320000,145.100000,0.000000,2020.000000,3.000000,3.000000,NaN,NaN,-95.202499,42.812810
max,3.118671e+06,NaN,NaN,49135.000000,65270.000000,NaN,NaN,72133.000000,NaN,2021.000000,...,18869.190000,199.600000,1.000000,2020.000000,3.000000,3.000000,NaN,NaN,144.722656,66.839905

In [12]:
wind_data.sample()

,case_id,faa_ors,faa_asn,usgs_pr_id,eia_id,t_state,t_county,t_fips,p_name,p_year,...,t_rsa,t_ttlh,retrofit,retrofit_year,t_conf_atr,t_conf_loc,t_img_date,t_img_srce,xlong,ylat
13695,3020518,06-020384,2006-AWP-131-OE,2629.0,54298.0,CA,Kern County,6029,Coram Energy LLC,2005.0,...,4656.63,103.5,0,NaN,2,3,1/1/2012,NAIP,-118.351791,35.060993

In [13]:
wind_data.t_fips.value_counts()

t_fips
6029     3499
48353    1411
6065     1208
41021     735
48415     649
         ...
39049       1
27003       1
35049       1
46121       1
39175       1
Name: count, Length: 689, dtype: int64

In [14]:
# proposed rename of columns - adding measurment on relevent cols
wind_data.rename(columns={'faa_ors':'faa_dig_id'
                , 'faa_asn':'faa_airspace_id'
                , 'p_cap' : 'p_cap_mw'
                , 't_cap':'t_cap_wind_km'
                , 't_hh':'t_hheight_m'
                , 't_rd':'t_rd_m'
                , 't_rsa':'t_rsa_m2)'
                , 't_ttlh':'t_height_grtip_m2'
                , 'offshore':'is_offshore'
                ,'retrofit':'is_retrofit'
                , 'eia_id':'eia_plant_id'}) #, inplace=True)

,case_id,faa_dig_id,faa_airspace_id,usgs_pr_id,eia_plant_id,t_state,t_county,t_fips,p_name,p_year,...,t_rsa_m2),t_height_grtip_m2,is_retrofit,retrofit_year,t_conf_atr,t_conf_loc,t_img_date,t_img_srce,xlong,ylat
0,3072661,NaN,NaN,5149.0,52161.0,CA,Kern County,6029,251 Wind,1987.0,...,NaN,NaN,0,NaN,2,3,5/8/2018,Digital Globe,-118.363762,35.077908
1,3072695,NaN,NaN,5143.0,52161.0,CA,Kern County,6029,251 Wind,1987.0,...,NaN,NaN,0,NaN,2,3,5/8/2018,Digital Globe,-118.364410,35.077435
2,3072704,NaN,NaN,5146.0,52161.0,CA,Kern County,6029,251 Wind,1987.0,...,NaN,NaN,0,NaN,2,3,5/8/2018,Digital Globe,-118.364197,35.077644
3,3063272,19-028134,2014-WTE-4084-OE,NaN,NaN,IA,Story County,19169,30 MW Iowa DG Portfolio,2017.0,...,12271.85,150.0,0,NaN,3,3,4/24/2017,Digital Globe,-93.430367,42.028233
4,3053390,19-028015,2015-WTE-6386-OE,NaN,NaN,IA,Boone County,19015,30 MW Iowa DG Portfolio,2017.0,...,12271.85,150.0,0,NaN,3,3,6/1/2017,Digital Globe,-93.700424,41.977608
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70803,3053232,36-120351,2015-WTE-5788-OE,NaN,NaN,NY,Wyoming County,36121,unknown Wyoming County,2016.0,...,NaN,NaN,0,NaN,1,3,5/20/2017,Digital Globe,-78.187935,42.740818
70804,3101958,48-171972,2020-WTW-2021-OE,NaN,NaN,TX,Young County,48503,unknown Young County,NaN,...,NaN,NaN,0,NaN,1,1,8/2/2020,Digital Globe,-98.907600,33.149414
70805,3040944,48-024978,2011-WTW-352-OE,41364.0,NaN,TX,Young County,48503,unknown Young County 1,2011.0,...,NaN,NaN,0,NaN,1,3,7/16/2018,Digital Globe,-98.551094,33.093292
70806,3055918,08-072237,2015-WTW-9995-OE,NaN,NaN,CO,Yuma County,8125,unknown Yuma County,2016.0,...,NaN,NaN,0,NaN,1,3,5/17/2017,Digital Globe,-102.716949,40.037548
70807,3055917,08-072245,2015-WTW-9994-OE,NaN,NaN,CO,Yuma County,8125,unknown Yuma County,2016.0,...,NaN,NaN,0,NaN,1,3,5/17/2017,Digital Globe,-102.717171,40.035072

In [15]:
wind_data.isnull().sum().sort_values(ascending = False)

#retrofit_year - acceptable null, some trubines ight not need at retrofit yet 
#usgs_pr_id 
#t_img_date - acceptable nulls - the nulls show t_conf_loc
# t_ttlh - could be do some caluation based of the information we do have. 
# t_hh - as above 
# t_rsa - as above
# # t_rd- as above

#all missing data is under 10% - would it be okay to leave

retrofit_year    64822
usgs_pr_id       32545
t_img_date        8316
t_ttlh            6180
t_hh              6180
t_rsa             5934
t_rd              5934
eia_id            5793
faa_ors           5792
t_model           5777
t_manu            5640
t_cap             5480
faa_asn           5122
p_cap             4482
p_year             613
t_conf_atr           0
t_conf_loc           0
t_img_srce           0
xlong                0
case_id              0
retrofit             0
p_tnum               0
p_name               0
t_fips               0
t_county             0
t_state              0
ylat                 0
dtype: int64

In [16]:
#not working how i imagined 

img_date_nulls = wind_data['t_img_date'].isnull()

In [17]:
img_date_nulls.sum()

8316

In [18]:
wind_data[img_date_nulls]["t_conf_loc"]

5748     3
5749     3
5750     3
5751     3
5752     3
        ..
67759    3
68721    3
68922    3
69147    3
70490    3
Name: t_conf_loc, Length: 8316, dtype: int64

In [19]:
#shows all columns - add with imports - need to turn it off when you dont want it
pd.set_option('display.max_columns', None)

In [20]:

wind_data.iloc[5748:5750]

,case_id,faa_ors,faa_asn,usgs_pr_id,eia_id,t_state,t_county,t_fips,p_name,p_year,p_tnum,p_cap,t_manu,t_model,t_cap,t_hh,t_rd,t_rsa,t_ttlh,retrofit,retrofit_year,t_conf_atr,t_conf_loc,t_img_date,t_img_srce,xlong,ylat
5748,3030161,55-020247,2009-WTE-1498-OE,46320.0,56391.0,WI,Fond du Lac County,55039,Blue Sky - Green Field,2008.0,88,145.2,Vestas,V82-1.65,1650.0,80.0,82.0,5281.02,121.0,0,NaN,3,3,NaN,Bing Maps Aerial,-88.280495,43.904293
5749,3030162,55-020251,2009-WTE-1499-OE,46316.0,56391.0,WI,Fond du Lac County,55039,Blue Sky - Green Field,2008.0,88,145.2,Vestas,V82-1.65,1650.0,80.0,82.0,5281.02,121.0,0,NaN,3,3,NaN,Bing Maps Aerial,-88.275993,43.902893

In [21]:
#since the 2000 big increase in turbines 
wind_data.p_year.value_counts().sort_index()

p_year
1981.0      10
1982.0     930
1983.0     433
1984.0     155
1985.0     516
1986.0      79
1987.0     193
1988.0     162
1989.0     288
1990.0       1
1991.0       1
1992.0       2
1994.0      10
1995.0      21
1996.0      14
1997.0     230
1998.0     186
1999.0     618
2000.0      72
2001.0    1870
2002.0     461
2003.0    1152
2004.0     268
2005.0    1638
2006.0    1418
2007.0    3200
2008.0    5047
2009.0    5701
2010.0    2962
2011.0    3497
2012.0    6768
2013.0     600
2014.0    2506
2015.0    4301
2016.0    3798
2017.0    3058
2018.0    3136
2019.0    3588
2020.0    6592
2021.0    4713
Name: count, dtype: int64

In [23]:
#kern County has the highest count of turbines
wind_data.t_county.value_counts()

t_county
Kern County          3499
Nolan County         1411
Lincoln County       1320
Riverside County     1208
Logan County          802
                     ...
Hudson County           1
Otter Tail County       1
Leelanau County         1
Guam                    1
Pueblo County           1
Name: count, Length: 564, dtype: int64

In [26]:
wind_data.t_state.value_counts().head()

t_state
TX    17439
IA     6148
CA     6065
OK     4905
KS     3919
Name: count, dtype: int64

In [28]:
wind_data.p_cap.value_counts()

p_cap
200.000    2575
150.000    2398
99.000      939
300.000     879
100.500     738
           ...
1.325         1
1.230         1
0.280         1
73.100        1
0.108         1
Name: count, Length: 718, dtype: int64

In [31]:
year_mask = wind_data['p_year'].isnull()
wind_data[year_mask]

,case_id,faa_ors,faa_asn,usgs_pr_id,eia_id,t_state,t_county,t_fips,p_name,p_year,p_tnum,p_cap,t_manu,t_model,t_cap,t_hh,t_rd,t_rsa,t_ttlh,retrofit,retrofit_year,t_conf_atr,t_conf_loc,t_img_date,t_img_srce,xlong,ylat
2274,3087206,NaN,NaN,NaN,NaN,PR,Catano Municipio,72033,Bacardi Puerto Rico,NaN,2,0.5,NaN,NaN,250.0,19.0,23.0,415.48,30.5,0,NaN,1,3,12/3/2017,Google Earth,-66.138809,18.459276
2275,3087203,NaN,NaN,NaN,NaN,PR,Catano Municipio,72033,Bacardi Puerto Rico,NaN,2,0.5,NaN,NaN,250.0,19.0,23.0,415.48,30.5,0,NaN,1,3,12/3/2017,Google Earth,-66.138756,18.458668
25975,3088586,NaN,NaN,NaN,50532.0,CA,Kern County,6029,Historic Victory Garden (Wind Stream),NaN,215,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,1,3,5/8/2018,Digital Globe,-118.375610,35.074280
26070,3088585,NaN,NaN,NaN,50532.0,CA,Kern County,6029,Historic Victory Garden (Wind Stream),NaN,215,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,1,3,5/8/2018,Digital Globe,-118.375801,35.074234
29056,3001878,NaN,NaN,48361.0,NaN,MI,Kalamazoo County,26077,Kalamazoo Valley Community College,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,1,3,4/29/2012,Digital Globe,-85.683670,42.225143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70782,3093891,38-038010,2018-WTE-6965-OE,NaN,NaN,ND,Williams County,38105,unknown Williams County,NaN,62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,1,1,12/10/2021,Digital Globe,-103.208885,48.479424
70783,3095079,38-037956,NaN,NaN,NaN,ND,Williams County,38105,unknown Williams County,NaN,62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,1,1,12/10/2021,Digital Globe,-103.158592,48.553391
70784,3116343,NaN,NaN,NaN,NaN,OK,Woods County,40151,unknown Woods County,NaN,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,1,3,10/10/2021,Digital Globe,-98.591331,36.509087
70789,3116339,NaN,NaN,NaN,NaN,OK,Woods County,40151,unknown Woods County,NaN,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,1,3,10/10/2021,Digital Globe,-98.595558,36.509438
70804,3101958,48-171972,2020-WTW-2021-OE,NaN,NaN,TX,Young County,48503,unknown Young County,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,1,1,8/2/2020,Digital Globe,-98.907600,33.149414

## Uniformed data cleaning - with team day2

## Wind data

In [36]:
#reset index
wind_data.set_index('case_id', inplace=True)

In [38]:
#changed dtype
wind_data['t_img_date'] = pd.to_datetime(wind_data.t_img_date, dayfirst=False)

In [39]:
#dropped columns
wind_clean = wind_data.drop(columns=['faa_ors', 'faa_asn', 'usgs_pr_id', 't_fips'])

In [40]:
#rename columns
wind_clean.rename(columns={'t_state':'state'
,'t_county':'county'
,'p_name':'wind_farm'
,'p_year':'year'
,'p_tnum':'turbine_count'
,'p_cap':'project_capacity'
,'t_manu':'manufact'
,'t_model':'model'
,'t_cap':'turbine_capacity'
,'t_hh':'hub_height'
,'t_rd':'rotor_diameter'
,'t_rsa':'rotor_swept_area'
,'t_ttlh':'total_height'
,'retrofit':'retrofit'
,'retrofit_year':'retrofit_year'
,'t_conf_atr':'conf_atr'
,'t_conf_loc':'conf_loc'
,'t_img_date':'img_date'
,'t_img_srce':'img_source'
,'xlong':'long'
,'ylat':'lat'},inplace=True)

In [41]:
#drop year nulls 
wind_clean.dropna(subset=['year'], inplace=True)

In [52]:
wind_clean.sample(5)

,eia_id,state,county,wind_farm,year,turbine_count,project_capacity,manufact,model,turbine_capacity,hub_height,rotor_diameter,rotor_swept_area,total_height,retrofit,retrofit_year,conf_atr,conf_loc,img_date,img_source,long,lat
case_id,,,,,,,,,,,,,,,,,,,,,,
3015866,56640.0,IL,Marshall County,Camp Grove,2007.0,100,150.0,GE Wind,GE1.5-77,1500.0,80.0,77.0,4656.63,118.6,0,NaN,3,3,NaT,Bing Maps Aerial,-89.609894,41.069290
3040251,58127.0,CO,Lincoln County,Limon II,2012.0,125,200.0,GE Wind,GE1.6-87,1600.0,80.0,87.0,5944.68,123.4,0,NaN,3,3,2013-01-01,NAIP,-103.613792,39.363693
3096124,60504.0,MN,Lincoln County,Blazing Star 1,2020.0,100,200.0,Vestas,V120-2.0,2000.0,80.0,120.0,11309.73,139.9,0,NaN,3,3,2020-01-16,Digital Globe,-96.338036,44.522499
3007706,NaN,CA,Kern County,unknown Tehachapi Wind Resource Area 1,1982.0,713,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,1,3,2018-05-08,Digital Globe,-118.369141,35.073013
3039154,57844.0,IA,Franklin County,Franklin County,2012.0,60,99.0,Vestas,V82-1.65,1650.0,80.0,82.0,5281.02,121.0,0,NaN,3,3,2019-10-25,Digital Globe,-93.268593,42.587292

In [42]:
import plotly.express as px
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

Pinar figures 
fig = px.histogram(wind_market_df, x = 't_cap', nbins=20,  title = 'Distribution of Turbine Capacities', opacity =0.5, color_discrete_sequence = ['green'])
fig.show ()

fig = px.histogram(wind_market_df, x = 'p_year', nbins=20,  title = 'Wind Turbine Installations Over Time', opacity =0.5, color_discrete_sequence = ['green'])
fig.show ()

corr_matrix = wind_market_df[['p_cap', 't_cap', 't_hh', 't_rd', 't_rsa']].corr()
plt.figure(figsize=(11, 7))
sns.heatmap(corr_matrix, annot=True, cmap='coolwarm')
plt.title('Correlation Matrix')
plt.show()

plt.figure(figsize=(14, 8))
sns.countplot(data=wind_market_df, y='t_manu', order=wind_market_df['t_manu'].value_counts().index)
plt.title('Count of Turbines by Manufacturer')
plt.xlabel('Count')
plt.ylabel('Manufacturer')
plt.show()

!pip install geopandas

import geopandas as gpd

gdf = gpd.GeoDataFrame(wind_market_df, geometry=gpd.points_from_xy(wind_market_df.xlong, wind_market_df.ylat))
usa = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))
plt.figure(figsize=(15, 10))
usa.boundary.plot(ax=plt.gca())
gdf.plot(ax=plt.gca(), markersize=1, color='blue', alpha=0.5)
plt.title('Geographical Distribution of Wind Turbines in the USA')
plt.show()
New

gdf = gpd.GeoDataFrame(wind_market_df,
                       geometry=gpd.points_from_xy(wind_market_df.xlong, wind_market_df.ylat))
usa = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))
usa = usa[usa.name == 'United States of America']
plt.figure(figsize=(15, 10))
usa.boundary.plot(ax=plt.gca())
gdf.plot(ax=plt.gca(), markersize=1, color='blue', alpha=0.5)
plt.title('Geographical Distribution of Wind Turbines in the USA')
plt.show()

wind_market_df['manu_count'] = wind_market_df.groupby('t_manu')['t_manu'].transform('count')

groupby_state = wind_market_df['manu_count'].groupby(wind_market_df['t_state'])

groupby_state.describe()

## Operator data

In [48]:
energy = pd.read_excel('data/EIA923_Schedules_2_3_4_5_M_12_2020_Final_Revision.xlsx', sheet_name ='Page 1')

In [49]:
energy.head()

,Plant Id,Combined Heat And\nPower Plant,Nuclear Unit Id,Plant Name,Operator Name,Operator Id,Plant State,Census Region,NERC Region,Reserved,NAICS Code,EIA Sector Number,Sector Name,Reported\nPrime Mover,Reported\nFuel Type Code,AER\nFuel Type Code,Balancing\nAuthority Code,Respondent\nFrequency,Physical\nUnit Label,Quantity\nJanuary,Quantity\nFebruary,Quantity\nMarch,Quantity\nApril,Quantity\nMay,Quantity\nJune,Quantity\nJuly,Quantity\nAugust,Quantity\nSeptember,Quantity\nOctober,Quantity\nNovember,Quantity\nDecember,Elec_Quantity\nJanuary,Elec_Quantity\nFebruary,Elec_Quantity\nMarch,Elec_Quantity\nApril,Elec_Quantity\nMay,Elec_Quantity\nJune,Elec_Quantity\nJuly,Elec_Quantity\nAugust,Elec_Quantity\nSeptember,Elec_Quantity\nOctober,Elec_Quantity\nNovember,Elec_Quantity\nDecember,MMBtuPer_Unit\nJanuary,MMBtuPer_Unit\nFebruary,MMBtuPer_Unit\nMarch,MMBtuPer_Unit\nApril,MMBtuPer_Unit\nMay,MMBtuPer_Unit\nJune,MMBtuPer_Unit\nJuly,MMBtuPer_Unit\nAugust,MMBtuPer_Unit\nSeptember,MMBtuPer_Unit\nOctober,MMBtuPer_Unit\nNovember,MMBtuPer_Unit\nDecember,Tot_MMBtu\nJanuary,Tot_MMBtu\nFebruary,Tot_MMBtu\nMarch,Tot_MMBtu\nApril,Tot_MMBtu\nMay,Tot_MMBtu\nJune,Tot_MMBtu\nJuly,Tot_MMBtu\nAugust,Tot_MMBtu\nSeptember,Tot_MMBtu\nOctober,Tot_MMBtu\nNovember,Tot_MMBtu\nDecember,Elec_MMBtu\nJanuary,Elec_MMBtu\nFebruary,Elec_MMBtu\nMarch,Elec_MMBtu\nApril,Elec_MMBtu\nMay,Elec_MMBtu\nJune,Elec_MMBtu\nJuly,Elec_MMBtu\nAugust,Elec_MMBtu\nSeptember,Elec_MMBtu\nOctober,Elec_MMBtu\nNovember,Elec_MMBtu\nDecember,Netgen\nJanuary,Netgen\nFebruary,Netgen\nMarch,Netgen\nApril,Netgen\nMay,Netgen\nJune,Netgen\nJuly,Netgen\nAugust,Netgen\nSeptember,Netgen\nOctober,Netgen\nNovember,Netgen\nDecember,Total Fuel Consumption\nQuantity,Electric Fuel Consumption\nQuantity,Total Fuel Consumption\nMMBtu,Elec Fuel Consumption\nMMBtu,Net Generation\n(Megawatthours),YEAR
0,1,N,.,Sand Point,"TDX Sand Point Generating, LLC",63560,AK,PACN,NaN,NaN,22,2,NAICS-22 Non-Cogen,WT,WND,WND,NaN,A,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,266,273,273,272,258,274,202,205,207,254,292,269,266,273,273,272,258,274,202,205,207,254,292,269,30.317,31.076,31.133,30.983,29.431,31.203,23.001,23.325,23.559,28.982,33.296,30.694,0,0,3045,3045,347.0,2020
1,2,N,.,Bankhead Dam,Alabama Power Co,195,AL,ESC,SERC,NaN,22,1,Electric Utility,HY,WAT,HYC,SOCO,A,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,104283,108896,95532,88288,129512,126161,118737,100597,80598,80157,92240,95938,104283,108896,95532,88288,129512,126161,118737,100597,80598,80157,92240,95938,11886.771,12412.58,10889.371,10063.65,14762.512,14380.559,13534.358,11466.669,9187.081,9136.794,10514.102,10935.553,0,0,1220939,1220939,139170.0,2020
2,3,N,.,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,22,1,Electric Utility,CA,NG,NG,SOCO,M,mcf,.,84692,154529,59835,48570,189421,189861,161345,157598,109781,39787,24223,.,84692,154529,59835,48570,189421,189861,161345,157598,109781,39787,24223,.,1.015,1.015,1.029,1.015,1.033,1.015,1.017,1.019,1.02,1.018,1.017,.,85962,156847,61570,49299,195672,192709,164088,160592,111977,40503,24635,.,85962,156847,61570,49299,195672,192709,164088,160592,111977,40503,24635,.,246804,257145,215636,197459,253075,246061,266400,254351,220717,248068,227801,1219642,1219642,1243854,1243854,2633517.0,2020
3,3,N,.,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,22,1,Electric Utility,CT,NG,NG,SOCO,M,mcf,.,4866789,4944755,4202964,3982590,5034053,4923989,5206239,4972545,4305932,4911529,4650033,.,4866789,4944755,4202964,3982590,5034053,4923989,5206239,4972545,4305932,4911529,4650033,.,1.015,1.015,1.029,1.015,1.033,1.015,1.017,1.019,1.02,1.018,1.017,.,4939791,5018926,4324850,4042329,5200177,4997849,5294745,5067023,4392051,4999937,4729084,.,4939791,5018926,4324850,4042329,5200177,4997849,5294745,5067023,4392051,4999937,4729084,.,477282,482890,413612,384376,492008,481016,507562,486059,420338,483657,455550,52001418,52001418,53006762,53006762,5084350.0,2020
4,3,N,.,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,22,1,Electric Utility,ST,BIT,COL,SOCO,M,short tons,.,64,35539,128879,80644,91399,162040,173712,173830,211430,161979,72983,.,64,35539,128879,80644,91399,162040,173712,173830,211430,161979,72983,.,21,21.072,20.748,20.628,20.92,20.436,20.382,19.786,19.991,19.918,19.792,.,1344,748878,2673981,1663524,1912067,3311449,3540598,3439400,4226697,3226298,1444480,.,1344,748878,2673981,1663524,1912067,3311449,3540598,3439400,4226697,3226298,1444480,.,-152.343,71190.754,266681.48,165799.87,189364.52,331355.7,350105.02,347191.37,424257.74,335569.93,144470.5,1292499,1292499,26188716,26188716,2625834.5,2020

In [51]:
energy.shape

(15115, 97)

In [54]:
energy.isnull().sum().sort_values(ascending = False)

Reserved                     15115
Physical\nUnit Label          6881
NERC Region                    565
Balancing\nAuthority Code      391
Respondent\nFrequency          162
                             ...
Elec_Quantity\nJune              0
Elec_Quantity\nMay               0
Elec_Quantity\nApril             0
Elec_Quantity\nMarch             0
YEAR                             0
Length: 97, dtype: int64

In [62]:
#change column header
energy.columns = energy.columns.str.replace(' ','_')

In [63]:
energy

,Plant_Id,Combined_Heat_And\nPower_Plant,Nuclear_Unit_Id,Plant_Name,Operator_Name,Operator_Id,Plant_State,Census_Region,NERC_Region,Reserved,NAICS_Code,EIA_Sector_Number,Sector_Name,Reported\nPrime_Mover,Reported\nFuel_Type_Code,AER\nFuel_Type_Code,Balancing\nAuthority_Code,Respondent\nFrequency,Physical\nUnit_Label,Quantity\nJanuary,Quantity\nFebruary,Quantity\nMarch,Quantity\nApril,Quantity\nMay,Quantity\nJune,Quantity\nJuly,Quantity\nAugust,Quantity\nSeptember,Quantity\nOctober,Quantity\nNovember,Quantity\nDecember,Elec_Quantity\nJanuary,Elec_Quantity\nFebruary,Elec_Quantity\nMarch,Elec_Quantity\nApril,Elec_Quantity\nMay,Elec_Quantity\nJune,Elec_Quantity\nJuly,Elec_Quantity\nAugust,Elec_Quantity\nSeptember,Elec_Quantity\nOctober,Elec_Quantity\nNovember,Elec_Quantity\nDecember,MMBtuPer_Unit\nJanuary,MMBtuPer_Unit\nFebruary,MMBtuPer_Unit\nMarch,MMBtuPer_Unit\nApril,MMBtuPer_Unit\nMay,MMBtuPer_Unit\nJune,MMBtuPer_Unit\nJuly,MMBtuPer_Unit\nAugust,MMBtuPer_Unit\nSeptember,MMBtuPer_Unit\nOctober,MMBtuPer_Unit\nNovember,MMBtuPer_Unit\nDecember,Tot_MMBtu\nJanuary,Tot_MMBtu\nFebruary,Tot_MMBtu\nMarch,Tot_MMBtu\nApril,Tot_MMBtu\nMay,Tot_MMBtu\nJune,Tot_MMBtu\nJuly,Tot_MMBtu\nAugust,Tot_MMBtu\nSeptember,Tot_MMBtu\nOctober,Tot_MMBtu\nNovember,Tot_MMBtu\nDecember,Elec_MMBtu\nJanuary,Elec_MMBtu\nFebruary,Elec_MMBtu\nMarch,Elec_MMBtu\nApril,Elec_MMBtu\nMay,Elec_MMBtu\nJune,Elec_MMBtu\nJuly,Elec_MMBtu\nAugust,Elec_MMBtu\nSeptember,Elec_MMBtu\nOctober,Elec_MMBtu\nNovember,Elec_MMBtu\nDecember,Netgen\nJanuary,Netgen\nFebruary,Netgen\nMarch,Netgen\nApril,Netgen\nMay,Netgen\nJune,Netgen\nJuly,Netgen\nAugust,Netgen\nSeptember,Netgen\nOctober,Netgen\nNovember,Netgen\nDecember,Total_Fuel_Consumption\nQuantity,Electric_Fuel_Consumption\nQuantity,Total_Fuel_Consumption\nMMBtu,Elec_Fuel_Consumption\nMMBtu,Net_Generation\n(Megawatthours),YEAR
0,1,N,.,Sand Point,"TDX Sand Point Generating, LLC",63560,AK,PACN,NaN,NaN,22,2,NAICS-22 Non-Cogen,WT,WND,WND,NaN,A,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,266,273,273,272,258,274,202,205,207,254,292,269,266,273,273,272,258,274,202,205,207,254,292,269,30.317,31.076,31.133,30.983,29.431,31.203,23.001,23.325,23.559,28.982,33.296,30.694,0,0,3045,3045,347.000,2020
1,2,N,.,Bankhead Dam,Alabama Power Co,195,AL,ESC,SERC,NaN,22,1,Electric Utility,HY,WAT,HYC,SOCO,A,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,104283,108896,95532,88288,129512,126161,118737,100597,80598,80157,92240,95938,104283,108896,95532,88288,129512,126161,118737,100597,80598,80157,92240,95938,11886.771,12412.58,10889.371,10063.65,14762.512,14380.559,13534.358,11466.669,9187.081,9136.794,10514.102,10935.553,0,0,1220939,1220939,139170.000,2020
2,3,N,.,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,22,1,Electric Utility,CA,NG,NG,SOCO,M,mcf,.,84692,154529,59835,48570,189421,189861,161345,157598,109781,39787,24223,.,84692,154529,59835,48570,189421,189861,161345,157598,109781,39787,24223,.,1.015,1.015,1.029,1.015,1.033,1.015,1.017,1.019,1.02,1.018,1.017,.,85962,156847,61570,49299,195672,192709,164088,160592,111977,40503,24635,.,85962,156847,61570,49299,195672,192709,164088,160592,111977,40503,24635,.,246804,257145,215636,197459,253075,246061,266400,254351,220717,248068,227801,1219642,1219642,1243854,1243854,2633517.000,2020
3,3,N,.,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,22,1,Electric Utility,CT,NG,NG,SOCO,M,mcf,.,4866789,4944755,4202964,3982590,5034053,4923989,5206239,4972545,4305932,4911529,4650033,.,4866789,4944755,4202964,3982590,5034053,4923989,5206239,4972545,4305932,4911529,4650033,.,1.015,1.015,1.029,1.015,1.033,1.015,1.017,1.019,1.02,1.018,1.017,.,4939791,5018926,4324850,4042329,5200177,4997849,5294745,5067023,4392051,4999937,4729084,.,4939791,5018926,4324850,4042329,5200177,4997849,5294745,5067023,4392051,4999937,4729084,.,477282,482890,413612,384376,492008,481016,507562,486059,420338,483657,455550,52001418,52001418,53006762,53006762,5084350.000,2020
4,3,N,.,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,22,1,Electric Utility,ST,BIT,COL,SOCO,M,short tons,.,64,35539,128879,80644,91399,162040,173712,173830,211430,161979,72983,.,64,35539,128879,80644,91399,162040,173712,173830,211430,161979,72983,.,21,21.072,20.748,20.628,20.92,20.436,20.382,19.786,19.991,19.918,19.792,.,1344,748878,2673981,1663524,1912067,3311449,3540598,3439400,4226697,3226298,1444480,.,1344,748878,2673981,1663524,1912067,3311449,3540598,3439400,4226697,3226298,1444480,.,-152.343,71190.754,266681.48,165799.87,189364.52,331355.7,350105.02,347191.37,424257.74,335569.93,144470.5,1292499,1292499,26188716,26188716,2625834.500,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15110,99999,N,.,State-Fuel Level Increment,State-Fuel Level Increment,99999,NV,MTN,NaN,NaN,99999,2,NAICS-22 Non-Cogen,WT,WND,WND,State-Fuel Level Increment,NaN,NaN,.,.,.,.,0,.,.,.,.,.,.,.,.,.,.,.,0,.,.,.,.,.,.,.,.,.,.,.,0,.,.,.,.,.,.,.,.,.,.,.,279086,.,.,.,.,.,.,.,.,.,.,.,279086,.,.,.,.,.,.,.,.,.,.,.,31811.979,.,.,.,.,.,.,.,0,0,279086,279086,31811.979,2020
15111,99999,N,.,State-Fuel Level Increment,State-Fuel Level Increment,99999,MD,SAT,NaN,NaN,99999,2,NAICS-22 Non-Cogen,WT,WND,WND,State-Fuel Level Increment,NaN,NaN,0,.,.,.,.,.,.,.,.,.,.,.,0,.,.,.,.,.,.,.,.,.,.,.,0,.,.,.,.,.,.,.,.,.,.,.,76102,.,.,.,.,.,.,.,.,.,.,.,76102,.,.,.,.,.,.,.,.,.,.,.,8674.526,.,.,.,.,.,.,.,.,.,.,.,0,0,76102,76102,8674.526,2020
15112,99999,N,.,State-Fuel Level Increment,State-Fuel Level Increment,99999,NH,NEW,NaN,NaN,99999,2,NAICS-22 Non-Cogen,WT,WND,WND,State-Fuel Level Increment,NaN,NaN,.,.,.,.,.,0,.,.,.,.,.,.,.,.,.,.,.,0,.,.,.,.,.,.,.,.,.,.,.,0,.,.,.,.,.,.,.,.,.,.,.,84267,.,.,.,.,.,.,.,.,.,.,.,84267,.,.,.,.,.,.,.,.,.,.,.,9605.242,.,.,.,.,.,.,0,0,84267,84267,9605.242,2020
15113,99999,N,.,State-Fuel Level Increment,State-Fuel Level Increment,99999,MA,NEW,NaN,NaN,99999,4,Commercial NAICS Non-Cogen,WT,WND,WND,State-Fuel Level Increment,NaN,NaN,.,.,.,0,.,.,.,.,.,.,.,.,.,.,.,0,.,.,.,.,.,.,.,.,.,.,.,0,.,.,.,.,.,.,.,.,.,.,.,6973,.,.,.,.,.,.,.,.,.,.,.,6973,.,.,.,.,.,.,.,.,.,.,.,794.787,.,.,.,.,.,.,.,.,0,0,6973,6973,794.787,2020
15114,99999,N,.,State-Fuel Level Increment,State-Fuel Level Increment,99999,ID,MTN,NaN,NaN,99999,2,NAICS-22 Non-Cogen,WT,WND,WND,State-Fuel Level Increment,NaN,NaN,0,.,.,.,.,.,.,.,.,.,.,.,0,.,.,.,.,.,.,.,.,.,.,.,0,.,.,.,.,.,.,.,.,.,.,.,39234,.,.,.,.,.,.,.,.,.,.,.,39234,.,.,.,.,.,.,.,.,.,.,.,4472.169,.,.,.,.,.,.,.,.,.,.,.,0,0,39234,39234,4472.169,2020

In [65]:
#replace . with 0 to show as interger
energy.replace('.', 0, inplace=True)

In [68]:
#removed 99999 from the data 
mask = energy['Operator_Id'] != 99999
energy = energy[mask]

In [69]:
energy.sample()

,Plant_Id,Combined_Heat_And\nPower_Plant,Nuclear_Unit_Id,Plant_Name,Operator_Name,Operator_Id,Plant_State,Census_Region,NERC_Region,Reserved,NAICS_Code,EIA_Sector_Number,Sector_Name,Reported\nPrime_Mover,Reported\nFuel_Type_Code,AER\nFuel_Type_Code,Balancing\nAuthority_Code,Respondent\nFrequency,Physical\nUnit_Label,Quantity\nJanuary,Quantity\nFebruary,Quantity\nMarch,Quantity\nApril,Quantity\nMay,Quantity\nJune,Quantity\nJuly,Quantity\nAugust,Quantity\nSeptember,Quantity\nOctober,Quantity\nNovember,Quantity\nDecember,Elec_Quantity\nJanuary,Elec_Quantity\nFebruary,Elec_Quantity\nMarch,Elec_Quantity\nApril,Elec_Quantity\nMay,Elec_Quantity\nJune,Elec_Quantity\nJuly,Elec_Quantity\nAugust,Elec_Quantity\nSeptember,Elec_Quantity\nOctober,Elec_Quantity\nNovember,Elec_Quantity\nDecember,MMBtuPer_Unit\nJanuary,MMBtuPer_Unit\nFebruary,MMBtuPer_Unit\nMarch,MMBtuPer_Unit\nApril,MMBtuPer_Unit\nMay,MMBtuPer_Unit\nJune,MMBtuPer_Unit\nJuly,MMBtuPer_Unit\nAugust,MMBtuPer_Unit\nSeptember,MMBtuPer_Unit\nOctober,MMBtuPer_Unit\nNovember,MMBtuPer_Unit\nDecember,Tot_MMBtu\nJanuary,Tot_MMBtu\nFebruary,Tot_MMBtu\nMarch,Tot_MMBtu\nApril,Tot_MMBtu\nMay,Tot_MMBtu\nJune,Tot_MMBtu\nJuly,Tot_MMBtu\nAugust,Tot_MMBtu\nSeptember,Tot_MMBtu\nOctober,Tot_MMBtu\nNovember,Tot_MMBtu\nDecember,Elec_MMBtu\nJanuary,Elec_MMBtu\nFebruary,Elec_MMBtu\nMarch,Elec_MMBtu\nApril,Elec_MMBtu\nMay,Elec_MMBtu\nJune,Elec_MMBtu\nJuly,Elec_MMBtu\nAugust,Elec_MMBtu\nSeptember,Elec_MMBtu\nOctober,Elec_MMBtu\nNovember,Elec_MMBtu\nDecember,Netgen\nJanuary,Netgen\nFebruary,Netgen\nMarch,Netgen\nApril,Netgen\nMay,Netgen\nJune,Netgen\nJuly,Netgen\nAugust,Netgen\nSeptember,Netgen\nOctober,Netgen\nNovember,Netgen\nDecember,Total_Fuel_Consumption\nQuantity,Electric_Fuel_Consumption\nQuantity,Total_Fuel_Consumption\nMMBtu,Elec_Fuel_Consumption\nMMBtu,Net_Generation\n(Megawatthours),YEAR
14131,63104,N,0,King Plains Wind Project,Engie North America,56201,OK,WSC,MRO,NaN,22,2,NAICS-22 Non-Cogen,WT,WND,WND,SWPP,M,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,241670,629866,0,0,0,0,0,0,0,0,0,0,241670,629866,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27547.0,71796.0,0,0,871536,871536,99343.0,2020

In [70]:
# save data to CSV 

wind_clean.to_csv('wind_new.csv')

In [71]:
energy.to_csv('energy_new.csv')